
<%if current_user.provider%>
  <h2>If you like to update your data please click the button below</h2>
  <%= link_to "Update", authentications_api_update_path, :class => "ui button" %>
<%else%>

<h2>Please submit the form below to allow this app to acces your Google analytics data</h2>

<%=form_tag({:action => 'auth', :controller => 'authentications'}, {:method => :get}) do %>
  <%= label_tag(:view_id, "View ID:") %>
  <%= text_field_tag(:view_id) %>
  <%= submit_tag("Authenticate") %>
<%end%>

<%end%>
