<div class="ui secondary menu">
  <div class="ui container">

      <div class="item ui dropdown">
        <div class="text">Leaderboard</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">
            <%= link_to "Main Leaderboard", leaderboards_path %>
          </div>
          <div class="item">
          <%= link_to "Organi Search Leaderboard", organic_search_leaderboards_path %>
          </div>
          <div class="item">
          <%= link_to "Social Leaderboard", social_leaderboards_path %>
          </div>
          <div class="item">
          <%= link_to "Email Leaderboard", email_leaderboards_path %>
          </div>
          <div class="item">
          <%= link_to "Direct Leaderboard", direct_leaderboards_path %>
          </div>
          <div class="item">
          <%= link_to "Paid Leaderboard", paid_leaderboards_path %>
          </div>

        </div>
      </div>




    <div class="right menu">
      <% if !user_signed_in? %>
        <%= link_to "Authenticate", user_google_oauth2_omniauth_authorize_path, :class => "ui item "%>
      <%else%>


        <%= link_to "Update Data", authentications_path, :class => "ui item" %>


        <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "ui item" %>
      <%end%>
    </div>
  </div>
</div>
