<div class="ui huge stackable menu navbar">
  <%= link_to "Main Leaderboard", leaderboards_path(:board => "mainboard", :filter => "this_month"), class: "item #{'active' if @board_name == 'mainboard'}" %>
  <%= link_to "Organi Search Leaderboard", leaderboards_path(:board => "organic_search", :filter => "this_month"), class: "item #{'active' if @board_name == 'organic_search'}" %>
  <%= link_to "Social Leaderboard", leaderboards_path(:board => "social", :filter => "this_month"), class: "item #{'active' if @board_name == 'social'}" %>
  <%= link_to "Email Leaderboard", leaderboards_path(:board => "email", :filter => "this_month"), class: "item #{'active' if @board_name == 'email'}" %>
  <%= link_to "Direct Leaderboard", leaderboards_path(:board => "direct", :filter => "this_month"), class: "item #{'active' if @board_name == 'direct'}" %>
  <%= link_to "Paid Leaderboard", leaderboards_path(:board => "paid", :filter => "this_month"), class: "item #{'active' if @board_name == 'paid'}" %>

  <div class="right menu">
    <% if !user_signed_in? %>
      <%= link_to "Authenticate", user_google_oauth2_omniauth_authorize_path, :class => "ui item "%>
    <%else%>


      <%= link_to "Update Data", authentications_path, :class => "ui item" %>


      <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "ui item" %>
    <%end%>

  </div>
</div>
