<div class="ui small menu filter">

  <div class="right menu default-filter">
    <div class="header item">Sort By</div>

    <%= link_to "This Week", "this_week", class: "item" %>
    <%= link_to "Last Week", "last_week", class: "item" %>
    <%= link_to "This Month", "this_month", class: "item" %>
    <%= link_to "Last Month", "last_month", class: "item" %>
    <a class="item custom-filter-button">
      Custom Filter
    </a>
  </div>
  <div class="right menu custom-filter">
    <div class="item">
      <i class="close icon"></i>
    </div>

    <div class="item custom-filter-form">
      <%= form_with url: leaderboards_custom_filter_url, method: :get, id: "filter-form", class: "ui form" do |form| %>
        <%= form.hidden_field :board, value: @board_name %> 
        <div class="fields">
          <div class="field">
            <div class="ui calendar" id="start-date">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <%= form.text_field :start_date, placeholder: "Start Date" %>
                <!-- <input type="text" placeholder="Start Date"> -->
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui calendar" id="end-date">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <%= form.text_field :end_date, placeholder: "End Date" %>
                <!-- <input type="text" placeholder="End Date"> -->
              </div>
            </div>
          </div>

          <div class="field">
            <%= form.submit "Filter", class: "ui button"%>
          </div>
        </div>





      <% end %>
    </div>


  </div>
</div>
