<!DOCTYPE html>
<html>
  <head>
    <title>Board</title>
    <%= csrf_meta_tags %>
    <meta name="action-cable-url" content="/cable">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted dimmer">
      <div class="ui large text loader">Loading</div>
    </div>
    <%= render :partial => "shared/notifications"%>
    <%= render :partial => "shared/navigation"%>
    <div id="main-container" class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
